{% extends 'layout.html' %}

{% block title %} 
    Creative title
{% endblock title %}

{% block body %}
<form action = "" method = "POST">
    {{form.hidden_tag() }}
    {% block form_contents %}
    {{ form.pkname.label }} {{ form.pkname }} <br>
    {{ form.nickname.label }} {{ form.nickname }} <br>
    {{ form.nature.label }} {{ form.nature }} <br>
    {{ form.ability.label }} {{ form.ability }}
    {% endblock form_contents %}
    <br>
    {{ form.submit }}
</form>
{% endblock body %}


    {{ form.pkname.label }} {{ form.pkname }} <br>
    {{ form.nickname.label }} {{ form.nickname }} <br>
    {{ form.ability.label }} {{ form.ability }}
